[Unit]
Description=Node.js, Express, and Postgres API
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=jaroslaw.julian
ExecStart=/usr/bin/node /home/jaroslaw.julian/postgres_api/index.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
RestartSec=42s

[Install]
WantedBy=multi-user.target
